.idea/aws.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/terraform.xml
.idea/terraform_starter.iml
.idea/vcs.xml
terraform/terraform-dev.tfvars
terraform/.terraform/
terraform/.terraform_plan_dev
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/**/.terraform/
/.venv/
