terraform_starter\terraform\modules\sqs\terraform.auto.tfvars.example
```
# Example terraform.auto.tfvars for SQS module

# Name of the SQS queue
queue_name = "example-queue"

# The visibility timeout for the queue (in seconds)
visibility_timeout_seconds = "30"
